<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Wersja</b> 1.0
	</div>
    <strong>Copyright &copy; 2016 <a href="#">hotel.szygmon.pl</a>.</strong> All rights reserved.
</footer>