{% extends './base.html.twig' %}

{% block title %}HOTEL JM - regulamin{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            HOTEL
            <small>Regulamin</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        {{ Notify.r }}
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Ustawienia strony</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <form name="inputform" method="POST" action="{{ url('Admin/siteSettings') }}">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon" >E-mail:</span>
                                <input type="text" name="email" class="form-control" value="{{ email }}"></textarea>
                            </div>
                            </br>
                            <div class="input-group">
                                <span class="input-group-addon" >Regulamin</span>
                                <textarea name="value" class="form-control" style="resize: none" rows="10" cols="50">{{ rules }}</textarea>
                            </div>
                        </div>
                    </div>


                    <div class="box-footer clearfix no-border">
                        <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                    </div>

                </form>
            </div><!-- /.box-body -->

        </div><!-- /.box -->


    </section><!-- /.Left col -->

</div><!-- /.row (main row) -->
<script type="text/javascript">
    $("#settings-category-sidebar, #settings-sidebar").addClass("treeview active");
</script>
{% endblock %}
