.clear:after {
	content: " ";
	display: table;
	clear: both;
}

.aright{
	text-align:right;
}

.acenter{
	text-align:center;
}
.icon-color-eight {
    color: #888;
} 
.icon-orange {
    color: orange;
}
.icon-yellow {
    color: yellow;
}
.icon--yellow-exclusive {
    color: #FFF400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}