{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM{% endblock %}

{% block body %}
    <script type="text/javascript">
        $("#n-contact").addClass("active");
        $(function () {
            $(".banner").toggleClass("banner1");
        });
    </script>

</div>		
<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>SKONTAKTUJ SIĘ Z NAMI</h3>
        </div>
        <div class="contact-bottom">
            <input type="text" value="Imię i nazwisko" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Imię i nazwisko';
                    }" />
            <input type="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'E-mail';
                    }" />
            <input type="text" value="Telefon" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Telefon';
                    }" />
            <textarea value="Wiadomość:" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Wiadomość';
                    }">Wiadomość...</textarea>
            <div class="submit-btn">
                <form>
                    <input type="submit" value="Wyślij">
                </form>
            </div>
        </div>
        <!--end-contact-->
    </div>
</div>
{% endblock %}