{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM{% endblock %}
{% block head %}
    <script src="{{ url('template') }}/js/jquery.validate.min.js" type="text/javascript"></script> 
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $("#n-contact").addClass("active");
        $(function () {
            $(".banner").toggleClass("banner1");
        });
    </script>

</div>		
<div class="contact">
    <div class="container">
        {{ Notify.r }}
        <div id="error-note" ></div>
        </br>
        <div class="contact-top">
            <h3>SKONTAKTUJ SIĘ Z NAMI</h3>
        </div>
        <div class="contact-bottom">
            <form method="post" id="contactform" name="contactform"> 
                <input type="text" value="Imię i nazwisko" name="name" id="name" onfocus="if (this.value == 'Imię i nazwisko')this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Imię i nazwisko';
                        }" />
                <input type="text" value="E-mail" name="email" id="email" onfocus="if (this.value == 'E-mail')this.value = '';" onblur="if (this.value == '') {
                            this.value = 'E-mail';
                        }" />
                <input type="text" value="Telefon" name="phone" id="phone" onfocus="if (this.value == 'Telefon')this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Telefon';
                        }" />
                <textarea value="Wiadomość" name="content" id="content" onfocus="if (this.value == 'Wiadomość')this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Wiadomość';
                        }">Wiadomość</textarea>
                <div class="clearfix"> </div>
                <div class="submit-btn">
                    <input class="submit-btn" type="submit" value="Wyślij">
                </div>
            </form>
        </div>
        <!--end-contact-->
    </div>
</div>
<script type="text/javascript">
    jQuery.validator.addMethod("notEqual", function (value, element, param) {
        return this.optional(element) || value != param;
    }, "Wpisz wartość inną niż domyślna");
    $('#contactform').validate({// initialize the plugin
        errorClass: "my-error-class",
        errorLabelContainer: "#error-note",
        wrapper: "li",
        rules: {
            name: {
                required: true,
                minlength: 5,
                notEqual: "Imię i nazwisko"
            },
            content: {
                required: true,
                maxlength: 500,
                notEqual: "Wiadomość"
            },
            email: {
                required: true,
                email: true,
                notEqual: 'E-mail'
            }
        },
        messages: {
            name: "Podanie nazwy użytkownika jest wymagane (nazwa użytkownika musi zawierać co najmniej 5 znaków)",
            content: "Pole wiadomość jest wymagane, może zawierać maksymalnie 500 znaków",
            email: "Podany e-mail jest nieprawidłowy"
        }
    });

</script>
{% endblock %}