{% extends './baseSP.html.twig' %}

{% block title %}Hotel JM{% endblock %}

{% block body %}
    <script type="text/javascript">
        $("#n-contact").addClass("active");
        $(function () {
            $(".banner").toggleClass("banner1");
        });
    </script>

</div>		
<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h3>SKONTAKTUJ SIĘ Z NAMI</h3>
        </div>
        <div class="contact-bottom">
            <input type="text" value="Imię i nazwisko" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Imię i nazwisko';
                    }" />
            <input type="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'E-mail';
                    }" />
            <input type="text" value="Telefon" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Telefon';
                    }" />
            <textarea value="Wiadomość:" onfocus="this.value = '';" onblur="if (this.value == '') {
                        this.value = 'Wiadomość';
                    }">Wiadomość...</textarea>
            <div class="submit-btn">
                <form>
                    <input type="submit" value="Wyślij">
                </form>
            </div>
        </div>
        <!--end-contact-->
        <!--start-map-->
        <div class="co-bt">
            <div class="col-md-3 add">
                <h4>Adres</h4>
                <address>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Telefon">P :</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-md-9 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.310671366718!2d7.283884900000001!3d43.70409239999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cddab7066db4e1%3A0x7e52715fee03b279!2sNICE+FRANCE!5e0!3m2!1sen!2sin!4v1435662218413" frameborder="0" style="border:0" allowfullscreen></iframe>	
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}