{% extends './baseSP.html.twig' %}

{% block title %}{{ settings.sitename }} - przypomnienie hasła{% endblock %}

{% block body %}
    <script type="text/javascript">
        $("#n-rooms").addClass("active");
        $(".banner").toggleClass("banner1");
    </script>
</div>		
<!-- banner -->

<div class="typo">
    <div class="container">
        {{ Notify.r }}
        <h3 class="title">Przypomnienie hasła</h3>
        <div class="grid_3 grid_4">
            {% if data.showGetMail %}
            <h3 class="hdg">Wpisz adres email podany przy rejestracji na naszej stronie</h3>
            <div class="row col-md-6 col-md-offset-3">
                <div class="contact-bottom">
                    <form method="post" id="contactform" name="contactform"> 
                        <input style="width: 100%" type="text" value="E-mail" name="email" id="email" onfocus="if (this.value == 'E-mail')
                                    this.value = '';" onblur="if (this.value == '') {
                                                this.value = 'E-mail';
                                            }" />
                        <div class="submit-btn">
                            <input class="submit-btn right-side" type="submit" value="Wyślij">
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>	 
    </div>
</div>
{% endblock %}