{% extends './baseSP.html.twig' %}

{% block title %}eDziennik AMN{% endblock %}

{% block content %}
	<div class="row" style="margin-top:60px;margin-bottom: 20px;">
		<div class="col-md-12">
			{{ Notify.r }}
			<div class="jumbotron">
				<form method="post" class="form-signin">
					<fieldset>
						<label class="panel-login">
							<div class="login_result"></div>
						</label>
						<div class="col-md-6">
							<h4>Dane szkoły</h4>
							<div class="form-group">
								<input class="form-control" type="text" name="schoolName" placeholder="Nazwa placówki">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="schoolAlias" placeholder="Alias" required>
							</div>
						</div>
						<div class="col-md-6">
							<h4>Dane konta</h4>
							<div class="form-group">
								<input class="form-control" placeholder="Login" name="username" type="text" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="email" type="email" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Hasło" name="pass" type="password" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Powtórz hasło" type="password">
							</div>
						</div>
						<div class="col-md-12 text-right">
							<input class="btn btn-success" type="submit" value="Zarejestruj" style="margin-top:20px">
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
